packages/workflows/n8n/templates/04-scheduled-claude-task.json
{
  "name": "template-scheduled-claude-task",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger (每天 2:00 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// 定义定时任务的参数\nconst now = new Date();\nconst taskId = `scheduled-${now.getFullYear()}${String(now.getMonth()+1).padStart(2,'0')}${String(now.getDate()).padStart(2,'0')}-${now.getHours()}${now.getMinutes()}`;\n\n// ⚠️ 在这里定义你的定时任务逻辑\nconst prompt = `\n定时任务: 每日代码审查\n\n请执行以下操作:\n1. 检查 /home/xx/dev/my-project 的最新代码\n2. 运行 lint 检查\n3. 生成审查报告\n4. 保存到 /tmp/daily-review-${now.toISOString().split('T')[0]}.md\n\n返回 JSON 格式的摘要。\n`;\n\nreturn {\n  task_id: taskId,\n  prompt: prompt.trim(),\n  executed_at: now.toISOString(),\n  task_type: 'scheduled'\n};"
      },
      "id": "prepare-task",
      "name": "Prepare Task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "command": "=/bin/bash -c 'claude -p \"{{ $json.prompt }}\" --output-format json'",
        "options": {
          "timeout": 600000
        }
      },
      "id": "execute-claude",
      "name": "Execute Claude",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": {
        "sshPassword": {
          "id": "1",
          "name": "localhost"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stdout = $json.stdout || '{}';\nlet result;\n\ntry {\n  result = JSON.parse(stdout);\n} catch (e) {\n  result = { raw_output: stdout };\n}\n\nreturn {\n  success: true,\n  task_id: $('Prepare Task').item.json.task_id,\n  task_type: 'scheduled',\n  executed_at: $('Prepare Task').item.json.executed_at,\n  result: result\n};"
      },
      "id": "format-result",
      "name": "Format Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:5679/webhook/task-complete",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-webhook",
      "name": "Notify (Optional)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300],
      "notes": "可选: 发送通知到其他 webhook"
    }
  ],
  "connections": {
    "Cron Trigger (每天 2:00 AM)": {
      "main": [[{"node": "Prepare Task", "type": "main", "index": 0}]]
    },
    "Prepare Task": {
      "main": [[{"node": "Execute Claude", "type": "main", "index": 0}]]
    },
    "Execute Claude": {
      "main": [[{"node": "Format Result", "type": "main", "index": 0}]]
    },
    "Format Result": {
      "main": [[{"node": "Notify (Optional)", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "description": "定时任务模板 - Cron 触发无头 Claude 执行定期任务",
    "usage": "修改 Cron 表达式和 Prepare Task 节点中的 prompt 逻辑",
    "cron_examples": [
      "0 2 * * * - 每天 2:00 AM",
      "0 */6 * * * - 每 6 小时",
      "0 9 * * 1 - 每周一 9:00 AM",
      "0 0 1 * * - 每月 1 号 0:00"
    ],
    "author": "Cecelia Workflows"
  }
}
