packages/workflows/n8n/workflows/tools/unit-hello-world-webhook.json
{
  "name": "[Unit] Hello World Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hello-world",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-hello",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "hello-world"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "Hello World"
            },
            {
              "name": "status",
              "value": "success"
            }
          ],
          "number": [],
          "boolean": []
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"message\": $json.message, \"timestamp\": $now, \"status\": $json.status } }}",
        "options": {}
      },
      "id": "respond-hello",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        690,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "active": true
}