packages/workflows/n8n/workflows/cecelia/unit-claude-http-触发器.json
{
  "name": "[Unit] Claude HTTP 触发器",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-claude",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "trigger-claude"
    },
    {
      "parameters": {
        "url": "https://pads-capabilities-unknown-listed.trycloudflare.com/execute",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-request",
      "name": "Call Claude Executor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        690,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Call Claude Executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude Executor": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "active": true
}