templates/workflow-template-webhook.json
{
  "name": "Template: Webhook Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook-endpoint",
        "responseMode": "responseNode",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "template-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:5221/api/brain/webhook-received",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "={{$json.headers['user-agent']}}"
            },
            {
              "name": "payload",
              "value": "={{$json.body}}"
            },
            {
              "name": "timestamp",
              "value": "={{$now.toISO()}}"
            }
          ]
        }
      },
      "id": "log-webhook",
      "name": "Log Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate webhook payload\nconst payload = $input.first().json.body;\n\n// Validation logic\nif (!payload || typeof payload !== 'object') {\n  throw new Error('Invalid webhook payload');\n}\n\n// Extract relevant data\nconst processedData = {\n  event: payload.event || 'unknown',\n  data: payload.data || {},\n  metadata: {\n    receivedAt: new Date().toISOString(),\n    source: $input.first().json.headers['user-agent'] || 'unknown'\n  }\n};\n\nreturn [processedData];"
      },
      "id": "validate",
      "name": "Validate & Parse",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Process webhook data based on event type\nconst data = $input.first().json;\n\nlet result = {\n  status: 'processed',\n  event: data.event,\n  actions: []\n};\n\nswitch(data.event) {\n  case 'task.created':\n    result.actions.push('create_task');\n    break;\n  case 'task.updated':\n    result.actions.push('update_task');\n    break;\n  case 'task.completed':\n    result.actions.push('complete_task');\n    break;\n  default:\n    result.actions.push('unknown_event');\n}\n\nreturn [result];"
      },
      "id": "process",
      "name": "Process Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "statusCode",
              "value": 200
            }
          ],
          "string": [
            {
              "name": "status",
              "value": "success"
            },
            {
              "name": "message",
              "value": "Webhook processed successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "statusCode",
              "value": 500
            }
          ],
          "string": [
            {
              "name": "status",
              "value": "error"
            },
            {
              "name": "message",
              "value": "={{$json.error.message}}"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 500]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Log Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Webhook": {
      "main": [
        [
          {
            "node": "Validate & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Parse": {
      "main": [
        [
          {
            "node": "Process Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Event": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Success": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond Error": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "template",
      "createdAt": "2024-02-15T00:00:00.000Z"
    },
    {
      "name": "webhook",
      "createdAt": "2024-02-15T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-02-15T00:00:00.000Z",
  "versionId": "1.0.0"
}